// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDwUK5xYMdq7ko5-gsgPo_5CZX10A8MtTA",
  authDomain: "journal-buddy-6096d.firebaseapp.com",
  projectId: "journal-buddy-6096d",
  storageBucket: "journal-buddy-6096d.firebasestorage.app",
  messagingSenderId: "1004942576297",
  appId: "1:1004942576297:web:a90e042cbe4f659e32f7b8",
  measurementId: "G-C16JH7BE95"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);